<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Gerenciamento de carros e motos de luxo</li>
  </ol>
</nav>
<div style="display: flex; flex-direction: row;">
  <div class="container">
    <div class="card list-car">
      <h5 class="card-header">Lista de carros</h5>
      <div class="card-body" style="min-height: 450px;">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Modelo</th>
              <th scope="col">Cor</th>
              <th scope="col">Preço</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let car of cars">
              <td>{{car.id}}</td>
              <td>{{car.model}}</td>
              <td>{{car.color}}</td>
              <td>{{car.price | currency}}</td>
              <td>
                <button type="button" class="btn btn-primary btn-sm" (click)="editCar(car)">Editar</button>
                <button type="button" class="btn btn-danger btn-sm ml-1" (click)="deleteCar(car)">Deletar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card add-car">
      <h5 class="card-header">Adicionar/Atualizar carro</h5>
      <div class="card-body">
        <form id="add-form" (ngSubmit)="fCar.form.valid && saveCar(fCar)" #fCar="ngForm" novalidate>
          <div class="form-group">
            <label for="model">Modelo</label>
            <input type="text" [(ngModel)]="car.model" id="model" name="model" #model="ngModel" required
              class="form-control" [ngClass]="{ 'is-invalid': fCar.submitted && model.invalid }"
              placeholder="Digite o modelo">
            <div *ngIf="fCar.submitted && model.invalid" class="invalid-feedback">
              <div *ngIf="model.errors!.required">Modelo é obrigatório</div>
            </div>
          </div>
          <div class="form-group">
            <label for="color">Cor</label>
            <input type="text" [(ngModel)]="car.color" id="color" name="color" #color="ngModel" required
              class="form-control" [ngClass]="{ 'is-invalid': fCar.submitted && color.invalid }"
              placeholder="Digite a cor">
            <div *ngIf="fCar.submitted && color.invalid" class="invalid-feedback">
              <div *ngIf="color.errors!.required">Cor é obrigatória</div>
            </div>
          </div>
          <div class="form-group">
            <label for="price">Preço</label>
            <input type="number" [(ngModel)]="car.price" id="price" name="price" #price="ngModel" required
              class="form-control" [ngClass]="{ 'is-invalid': fCar.submitted && price.invalid }"
              placeholder="Digite o preço">
            <div *ngIf="fCar.submitted && price.invalid" class="invalid-feedback">
              <div *ngIf="price.errors!.required">Preço é obrigatório</div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-add-car">Salvar</button>
          <button type="reset" class="btn btn-secondary btn-add-car" (click)="cleanFormCar(fCar)">Cancelar</button>
        </form>
      </div>
    </div>
  </div>

  <!-- Segunda Lista -->
  <div class="container">
    <div class="card list-motorcycle">
      <h5 class="card-header">Lista de motos</h5>
      <div class="card-body" style="min-height: 450px;">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Modelo</th>
              <th scope="col">Cor</th>
              <th scope="col">Preço</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let motorcycle of motorcycles">
              <td>{{motorcycle.id}}</td>
              <td>{{motorcycle.model}}</td>
              <td>{{motorcycle.color}}</td>
              <td>{{motorcycle.price | currency}}</td>
              <td>
                <button type="button" class="btn btn-primary btn-sm"
                  (click)="editMotorcycle(motorcycle)">Editar</button>
                <button type="button" class="btn btn-danger btn-sm ml-1"
                  (click)="deleteMotorcycle(motorcycle)">Deletar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="card add-motorcycle">
      <h5 class="card-header">Adicionar/Atualizar moto</h5>
      <div class="card-body">
        <form id="add-form" (ngSubmit)="fMoto.form.valid && saveMotorcycle(fMoto)" #fMoto="ngForm" novalidate>
          <div class="form-group">
            <label for="model">Modelo</label>
            <input type="text" [(ngModel)]="motorcycle.model" id="model" name="model" #model="ngModel" required
              class="form-control" [ngClass]="{ 'is-invalid': fMoto.submitted && model.invalid }"
              placeholder="Digite o modelo">
            <div *ngIf="fMoto.submitted && model.invalid" class="invalid-feedback">
              <div *ngIf="model.errors!.required">Modelo é obrigatório</div>
            </div>
          </div>
          <div class="form-group">
            <label for="color">Cor</label>
            <input type="text" [(ngModel)]="motorcycle.color" id="color" name="color" #color="ngModel" required
              class="form-control" [ngClass]="{ 'is-invalid': fMoto.submitted && color.invalid }"
              placeholder="Digite a cor">
            <div *ngIf="fMoto.submitted && color.invalid" class="invalid-feedback">
              <div *ngIf="color.errors!.required">Cor é obrigatória</div>
            </div>
          </div>
          <div class="form-group">
            <label for="price">Preço</label>
            <input type="number" [(ngModel)]="motorcycle.price" id="price" name="price" #price="ngModel" required
              class="form-control" [ngClass]="{ 'is-invalid': fMoto.submitted && price.invalid }"
              placeholder="Digite o preço">
            <div *ngIf="fMoto.submitted && price.invalid" class="invalid-feedback">
              <div *ngIf="price.errors!.required">Preço é obrigatório</div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-add-motorcycle">Salvar</button>
          <button type="reset" class="btn btn-secondary btn-add-motorcycle" (click)="cleanFormMotorcycle(fMoto)">Cancelar</button>
        </form>
      </div>
    </div>
  </div>
</div>
